{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block class %}
class = "index_background"
{% endblock %}

{% block content %}
<div>
  <img class="capa" src="../static/public/capa.png" alt="capa" />
</div>

<div>
  <p>
    <h1>
      Sobre a universidade
    </h1>
    Lorem, <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Ex
    consequuntur labore sunt facilis? Fugit impedit ipsum sunt ea magnam,
    totam vero magni nam aperiam alias aut fuga? Odit, quisquam cumque?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quisquam
    consequuntur ipsum nam temporibus, consectetur quas voluptatum
    reprehenderit omnis recusandae amet harum nobis distinctio illo
    quibusdam quae, nulla dolores praesentium?
    <br /><br />
    Lorem, <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Dolor corporis
    facere, iste exercitationem, earum sequi mollitia dolores magni modi
    laborum eius deleniti possimus quibusdam corrupti rerum veniam non,
    perferendis hic? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Velit libero cumque provident delectus iste saepe dolorum amet
    eveniet vitae illo veniam rerum et perferendis, beatae voluptatibus!
    Accusamus corporis facere minus?
  </p>
</div> 
{% endblock %}  


